<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Sign In </h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, placeholder: "email", class: "fadeIn second" %>
            <%= f.password_field :password, placeholder: "current-password", class: "fadeIn third" %>
            <%= f.submit "Log in", class: "fadeIn fourth" %>
        <% end %>

        <div id="formFooter">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>