<p id="notice"><%= notice %></p>

<p>
  <strong>Available date:</strong>
  <%= @availability.available_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>User:</strong>
  <%= @availability.user_id %>
</p>

<%= link_to 'Edit', edit_availability_path(@availability) %> |
<%= link_to 'Back', availabilities_path %>
